@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* COMMON STYLE CHANGES */
* {
    margin: 0;
    font-family: 'Muli', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

/* GLOBAL TAG STYLES */
a {
    text-decoration: none;
}

.external-link {
    color: #999999;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-weight: 800;
    font-size: 32px;
}

h3 {
    font-weight: 600;
}

/* LISTS */
li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin: 2em 0;
}

li .number {
    margin-right: 0.5em;
}

li article {
    display: flex;
    flex-direction: column;
    margin-top: 0.1em;
}

li h5 {
    margin-left: 1.75em;
    margin-top: 0.25em;
    font-size: 16px;
    font-weight: 400;

}

li h5::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    min-width: 12px;
    margin: 0.3em 0.5em auto 0;
    margin-left: -1.75em;
    border-radius: 1em;
    background-color: #ffdd44;
}

/* BUTTON */
button:hover {
    cursor: pointer;
}

body {
    position: relative;
    margin: 0 1em;
    min-height: 100vh;
}

/* IFRAMES AND VIDEOS */

iframe, video {
    margin: 1em 0;
    width: 100%;
    border: none;
}

/* SPANS */
.number {
    font-size: 36px;
    color: #ffdd44;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.date {
    font-weight: 300;
    color: #999999;
}

/* GLOBAL */
/* COLORS */

.white {
    background-color: white;
}

.yellow {
    background-color: #ffdd44;
}

/* HOMELINK */
#home-link {
    font-weight: 800;
    font-size: 24px;
    border-radius: 2em;
    grid-area: HomeLink;
    transform-origin: center center;
    transform: translateX(0);
    transition: all 0.45s ease-in-out;
    border: 2px solid white;
}

#home-link:hover {
    transition-duration: 0.2s;
    transform: translateX(-0.2em);
    padding: 0.2em;
}

#home-link div {
    border-radius: 2em;
    padding: 0.1em 0.6em;
}


/* PROJECT DIFFERENCE */
#project #home-link {
    border-color: #ffdd44;
}

.landing {
    padding: 2em;
    padding-top: 72px;
    border-radius: 0 0 7px 7px;
}

/* HEADER */
header {
    position: fixed;
    width: calc(100% - 2em);
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 72px;
    grid-template-areas: "HomeLink . AllProjects ContactMe";

    z-index: 5;
    background-color: #ffdd44;
    border-radius: 0 0 7px 7px;
}

header a {
    display: flex;
    margin: auto 24px;
    font-weight: 600;
}

header > a.nav-link {
    margin: 0;
    padding: 24px;
}

.nav-link.w:nth-of-type(n):hover::before {
    background-color: white;
}

.nav-link.y:nth-of-type(n):hover::before {
    background-color: #ffdd44;
}

.nav-link::before {
    content: '';
    width: 14px;
    height: 14px;
    min-width: 14px;
    margin: 0.2em 0.5em auto 0;
    border-radius: 1em;
    background-color: transparent;
    transition: background-color 0.45s ease-in-out;
}

.nav-link:hover::before {
    transition-duration: 0.2s;
}

.nav-link:nth-of-type(2) {
    grid-area: AllProjects;
}

/* FIXING DOT BEFORE ON DROPDOWN LINKS */
#add-before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    min-width: 14px;
    margin: 3px 0.5em auto 0;
    border-radius: 1em;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

header.white #drop-down {
    background-color: #ffdd44;
    box-shadow:0 0px 5px #e7ca4a;
}

#drop-down {
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 92px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: white;
    border-radius: 2px;
    box-shadow:0 0px 5px #e7e7e7;
}

#drop-down .nav-link::before {
    transition-duration: 0.2s
}

#drop-down a {
    margin: 0;
    padding: 1.5em;
    font-size: 14px;
    font-weight: 500;
    padding-left: 1em;
}

#drop-down a.nav-link:nth-of-type(3) {
    padding-top: 0;
}

#drop-down a.nav-link:first-of-type {
    display: none;
}

#drop-down a.nav-link::before {
    height: 12px;
    width: 12px;
    min-width: 12px;
}

.nav-link:nth-of-type(2):hover ~ #drop-down, #drop-down:hover {
    visibility: visible;
    opacity: 1;
}

.nav-link:nth-of-type(3) {
    grid-area: ContactMe;
}

/* INDEX BUTTON */
.see-more {
    padding: 0.75em 1.75em;
    margin-top: 20px;
    font-size: 16px;
    color: #aaaaaa;
    background-color: transparent;
    border: 1px solid #aaaaaa;
    border-radius: 2px;

    transition: all 0.2s ease-in-out;
}

.see-more:hover {
    cursor: pointer;
    color: white;
    background-color: #aaaaaa;
}

/* FOOTER */
footer {
    width: 100%;
    height: 72px;

    background-color: #555555;
    border-radius: 7px 7px 0 0;
    display: flex;
    justify-content: space-between;
}

footer * {
    color: #999999;
    margin: auto 0;
}

footer h3 {
    margin-left: 1.5em;
}

footer div {
    margin-right: 0.5em;
}

footer .social-icon:hover::after {
    background-color: #ffdd44;
}

/* INDEX */
#index, #all-projects {
    display: grid;
    row-gap: 2em;
}

#index .landing {
    height: 50vh;
    padding: 96px 145px 96px 145px;
    display: flex;
    align-items: center;
}

#index .landing h1 {
    font-weight: 900;
    font-size: 48px;
}

#index .landing mark {
    background-color: rgb(250, 250, 250);
}

#index .landing h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    line-height: 42px;
}

h3 > img {
    height: 1.75em;
    margin-right: 0.5em;
    transform: scale(1) translateY(0);
    transition: all 0.2s ease-in;
}

#index .landing h3 {
    display: flex;
    align-items: flex-end;

}

#index .landing h3:hover > img {
    transform: scale(1.1) translateY(-2px);
}

/* INDEX PEEK CARDS */
.peek {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.peek h3 {
    font-weight: 300;
}

.peek article {
    width: 200px;
    height: auto;
    bottom: 150px;
    margin: auto;
    border-radius: 7px;

    background-color: white;

}

.peek svg {
    stroke: #e7e7e7;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;

    transform: scale(0.6);
    position: relative;
    top: 40px;
}

.peek h1 {
    margin-bottom: 0.5em;
    line-height: 50px;
}

.peek h1 mark {
    background-color: #ffdd44;
    padding: 0.1em;
}

.peek a {
    position: inherit;
    height: 50%;
}

.peek img {
    position: inherit;
    width: 66vw;
    height: 50%;
    object-fit: cover;
    border-radius: 0 7px 7px 0;
    box-shadow: 0 0 0.2em #e7e7e7;

    transition: filter 0.2s ease-in-out;
}

.peek:nth-of-type(2) img {
    right: -1em;
    border-radius: 7px 0 0 7px;
}

.peek:nth-of-type(3) img {
    left: -1em;
    border-radius: 0 7px 7px 0;
}

/* ACTIVE AND STATIC GIFS */
img.static {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-in;
    opacity: 1;
    z-index: 2;
    filter: grayscale(1);
}

img.active {
    margin-top: 2px;
    filter: grayscale(1);
}
  
.static:hover {
    opacity:0;
}

.static:hover ~ .active {
    filter: grayscale(0);
}

.title-breaker {
    text-align: center;
}

#index footer {
    margin-top: 3em;
}

/* CONTACT ME */
#profile-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 250px;
}

#profile {
    min-height: 250px;
    padding-top: calc(72px + 2em);
}

#profile-image {
    width: 20vw;
    height: 20vw;
    background-color: white;
    border-radius: 20vw;

    margin-left: auto;
    margin-right: 2em;

    filter: sepia(0.2) grayscale(0.8);
}

#profile-details .social-icon {
    width: 48px;
    margin: 0.5em 0.25em 0 0.25em;
}

.social-icon {
    position: relative;
    width: 36px;
    margin: 0.5em 0.5em 0 0;
}

.social-icon::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 6px;
    width: 10px;
    height: 10px;

    border-radius: 1em;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.social-icon:hover::after {
    background-color: white;
}

.details {
    padding: 2em;
    position: relative;
    display: grid;
    grid-template-columns: 280px 1fr;
}

.details article:nth-of-type(2) {
    max-width: 600px;
}

.details .icon {
    position: sticky;
    left: 135px;
    top: 100px;
    padding: 0;
    width: 150px;
    max-width: none;
    filter: drop-shadow(0 0 2px #f8f2e7);
    transition: none;
}

.details .icon:hover {
    filter: drop-shadow(0 0 2px #f8f2e7);
    transform: rotateZ(10deg) 
}

.details img {
    max-width: calc(50% - 1.5em);
    padding: 1em 0;
    padding-right: 1em;
    filter: grayscale(1) brightness(1.2);
    transition: all 0.2s ease-in-out;
}

.details img:hover {
    filter:grayscale(0.2)
}

/* EMAIL ADDRESS COPY */

.copy {
    position: absolute;
    bottom: 70px;
    left: 130px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    background-color: #ffdd44;
    color: #555555;
    border-radius: 2px;
    font-weight: 600;
    padding: 0.5em 1em;
}

#profile-details .copy {
    position: relative;
    background-color:white;
    top: -10px;
    left: 0;
}

.copy::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffdd44 transparent transparent transparent;
}

#profile-details .copy::after {
    top: auto;
    bottom: 100%;  /* At the top of the tooltip */
    border-color: transparent transparent white transparent;
}

.email-address:hover + .copy {
    visibility: visible;
    opacity: 1;
}

.email-address:hover {
    cursor: pointer;
    background-color: #ffdd44;
    color: #555555;

}

#profile-details > .email-address:hover {
    background-color: white;
    color: black;
    /* color: #ffdd44; */
}

.email-address {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    transition: all 0.2s ease-in-out;
}

textarea {
    width: 0;
    opacity: 0;
    position: absolute;
}

/* ////////////////////////// PROJECT PAGE /////////////////////////////*/
.banner-image {
    width: calc(100% + 6em);
    margin-left: -3em;
    height: 40vh;
    object-fit: cover;
    filter: brightness(0.8);
}

.case-study {
    display: grid;
    grid-template-columns: 280px 1fr;

    padding: 2em;
    padding-top: 0;
    margin: 0 1em;
}

.case-information {
    max-width: 70%;
}

.case-information h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.case-information h2 {
    margin-bottom: 0.25em;
    margin-top: 60px;
}

h2 ~ i {
    margin-bottom: 1em;
}

p ~ h3 {
    margin-top: 40px;
    margin-bottom: 0.25em;
}

p ~ h4 {
    margin-top: 40px;
    margin-bottom: 0.25em;
}

.case-information i {
    color: #999999;
    line-height: 1.8;
}

.case-information img {
    max-width: 100%;
}

/* QUOTES */

q {
    font-style: italic;
    font-weight: 800;
    line-height: 30px;
}

.user-q {
    margin: 1.5em 0;
    font-weight: 600;
    font-size: 14px;
    width: 90%;

    display: inline-block;
    padding-left: 1.5em;
    color: #999999;
    border-left: 2px solid #ffdd44;
}

.user-q:hover {
    color: #555555;
}

mark {
    background-color: #e7e7e7;
    padding: 0.2em;
}

.em-padding {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.case-information p {
    line-height: 1.8;
}

.hearts.problem-highlight {
    position: relative;
    padding-top: 2em;
    display: grid;
    grid-template-columns: 20% 80%;
}   

.collaborate.problem-highlight {
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    padding-top: 2em;
}

.collaborate.problem-highlight article {
    margin: auto 0;
    margin-left: 2em;
}

.hearts.problem-highlight p {
    font-size: 14px;
}

.hearts.problem-highlight img {
    width: auto;
    align-self: center;
    margin-left: auto;
}

.hearts.problem-highlight article {
    margin-left: 2em;
}

figure {
    padding: 1em 0 1.5em 0;
}

figure figure {
    padding: 0;
}

.subtle-shadow {
    box-shadow: 0 0 5px #aaaaaa;
}

figcaption.for-image {
    display: block;
    position: relative;
    text-align: center;
    color: #999999;
    background-color: transparent;
    font-style: italic;
    font-size: 14px;
    padding: 0;
    margin-top: 1em;
}

.image-row-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 1em;
}

.image-row-wrapper img{
    width: 95%;
    height: auto;
    object-fit: contain;
}

.image-row-wrapper > img {
    width: 48%;
}

.image-row-wrapper img:first-child {
    margin-right: 1em;
}

.text-image-row-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 1em;
}

.text-image-row-wrapper img{
    width: 30%;
}

/* SLIDE CARDS IN THE PROJECT PAGE */
.slide-cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    padding: 1.5em 1.5em 0 1.5em;
}

.slide-cards::-webkit-scrollbar {
    height: 0px;
}

.slide-cards div {
    min-width: 98%;
    padding:0 0.5em;
    padding-bottom: 1em;
    scroll-snap-align: center;
    transform-origin: center center;
    position: relative;
}

.slide-cards img {
    box-shadow: 0 0 10px #aaaaaa;
}

/* SLIDE CARD BUTTONS */
.next {
    left: calc(100% - 3em);
}

.previous {
    left: -1em;
}

.next, .previous {
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: black;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 20px;
    border-radius: 50%;
    background-color: #ffdd44 ;

    vertical-align: middle;
    filter: drop-shadow(0px 0px 2px #ffdd44);
    transition: all 0.2s ease-in-out;
}

.next svg, .previous svg {
    transform: scale(0.45);
}

.next:hover, .previous:hover {
    filter: drop-shadow(0px 0px 4px #e7ca4a);
}

/* PROJECT PAGE - PROGRESS BAR */
.case-progress {
    margin-top: 0.5em;
}

#progress-bar {
    display: inline-block;
    height: 40vh;
    min-height: 200px;
    max-height: 250px;
    position: sticky;
    top: calc(72px + 2em);
    background-color: #ffdd44;
    width: 6px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    white-space: nowrap;
}

.progress-step-label {
    display: inline-block;
    position: absolute;
    margin-left: 26px;

    font-size: 16px;
}

.progress-step-label:hover {
    cursor: pointer;
}

.progress-step {
    position: absolute;
    display: inline-block;
    width: 100%;
    display: flex;
    margin-left: -30px;
    margin-top: 2px;
    width: 8px;
    height: 8px;
    border-radius: 1em;
    background-color: #ffdd44;
    border: 3px solid #ffdd44;
    transform: scale(1);

    transition: all 0.2s ease-in-out;
}

/* IMAGE ZOOM IN MODAL */
#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    overflow: auto;
}

#modal button {
    position: fixed;
    right: 10vw;
    top: calc(10vh - 24px);
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 0.5em 1em;
    z-index: 50;
}

#modal img {
    position: absolute;
    max-width: 80vw;
    max-height: 80vh;
    margin: auto;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    overflow: auto;
}


#modal figcaption {
    color: white;
    position: absolute;
}

/* ALL IMAGES PREP FOR ZOOMING */
img.zoom:hover {
    cursor: zoom-in;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////// ALL MEDIA QUERIES START HERE ///////////////////////////////// */

@media only screen and (max-width: 1080px) {
    /* PROJECT PAGES */
    .case-information {
        max-width: 600px;
    }    
}

@media only screen and (max-width: 920px) {

    /* INDEX */
    #profile-image {
        width: 30vw;
        height: 30vw;
    }

    #index .landing {
        padding-left: 120px;
        padding-right: 120px;
    }

    .peek:nth-of-type(2) img {
        right: -0.8em;
    }

    .peek:nth-of-type(3) img {
        left: -0.9em;
    }
}

@media only screen and (max-width: 900px) {

    /* INDEX */
    #index .landing {
        padding: 96px 72px 36px 72px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    #index .landing article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #index #profile-image {
        margin: auto;
        margin-bottom: 2em;
    }

    .peek {
        max-width: 100vw;
    }

    .peek article {
        position: absolute;
        width: 400px;
        height: fit-content;
        top: 100%;
        left: 7%;

        padding: 1em;
        background-color: white;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 0.1em #999999; 
    }

    .peek article:hover {
        box-shadow: 0 1px 0.2em #999999; 
    }

    .peek svg {
        display: none;
    }

    .peek ~ .title-breaker {
        margin-top: 50px;
    }

    .peek:nth-of-type(2) img {
        left: 0;
        right: 0;
        border-radius: 0;
    }

    .peek:nth-of-type(3) img {
        right: 0;
        left: 0;
        border-radius: 0;
    }

    .peek a {
        max-width: 100vw;
        margin-bottom: 140px;
    }

    .peek img.active, .peek img.static {
        z-index: -1;
        width: calc(100% + 2em);
        margin: 0;
        margin-left: -1em;

    }

    .peek img.active {
        margin-bottom: 0;
    }

    .peek img.static {
        display: none;
        width: 100vw;
        margin-bottom: 75px;
    }

    /* PROJECT PAGES*/

    .case-study {
        grid-template-columns: 1fr;
        padding: 0 5%;
        margin: 0;
    }

    .case-progress {
        display: none;
    }

    /* CONTACT ME */
    .details {
        margin-left: 0;
        padding: 2em 5%;
        grid-template-columns: 1fr;

    }

    .details img {
        max-width: calc(50% - 1.2em);
    }

    .icon {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    /* HEADER */
    header {
        grid-template-columns: 3fr 4fr 74px 74px 4fr 3fr;
        grid-template-rows: 72px 36px;
        grid-template-areas: ". . HomeLink HomeLink . ."  ". AllProjects AllProjects ContactMe ContactMe .";
    
        z-index: 5;
        background-color: #ffdd44;
        border-radius: 0 0 7px 7px;
    }

    header > a.nav-link {
        margin-top: 0;
        margin: 0 24px auto 24px;
        padding: 0;
    }

    .nav-link:nth-of-type(2) {
        display: flex;
        justify-self: flex-end;
    }

    #drop-down {
        width: 100%;
        top: 92px;
        left: 0;
        right: auto;
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 7px 7px;
        box-shadow:0 4px 2px -2px #e7e7e7;
        border-top: 12px solid #ffdd44;
    }

    header.white #drop-down {
        border-top: 12px solid white;
        /* background-color: #ffdd44; */
        box-shadow: 0 4px 2px -2px #e7ca4a;
    }

    #drop-down a.nav-link:nth-of-type(3) {
        padding-top: 1.5em;
    }

    #add-before {
        margin-top: 4px;
    }

    #home-link {
        margin: auto;
    }

    #home-link:hover {
        transform: translateX(-0.1em);
    }

    /* GLOBAL */

    .landing {
        padding-top: 132px;
    }

    /* INDEX */
    #index .landing {
        padding: 120px 72px 72px 72px;
    }


    .peek article {
        width: 80%;
    }

    .peek  {
        margin-top: 50px
    }

    .peek img {
        margin-bottom: 100px;
    }

    .peek ~ .title-breaker {
        margin-top: 30px;
    }

    .peek br {
        display: none;
    }


    /* PROJECTS */
    .case-study {
        padding: 0 1em;
    }

    /* SLIDE CARDS */
    .next, .previous {
        width: 36px;
        height: 36px;
    }

    .next svg, .previous svg {
        height: 30;
        margin-top: -6px;
        transform: scale(0.4);
    }

    .next {
        right: -10px;
    }

    .previous {
        left: -5px;
    }

    /* CONTACT ME */

    #profile {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        margin: auto;

       padding-top: 144px;
    }

    #profile-details {
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #profile-image {
        width: 40vw;
        height: 40vw;
        border-radius: 40vw;
        margin: 2em auto;
    }

    .details {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'Images' 'Text';
    }

    .details article:first-of-type {
        grid-area: Images;
    }

    .details img {
        padding-top: 1em;
        padding-bottom: 1em;
        max-width: calc(50% - 1.2em);
    }

}

@media only screen and (max-width: 550px) {
    /* INDEX */
    #index .landing {
        padding: 120px 36px 36px 36px;
    }

    /* FOOTER */
    a.social-icon:last-child, a.social-icon:last-child img {
        margin-right: 0;
    }

    footer div {
        margin: auto;
    }

    #index footer  {
        margin-top: 1em;
    }

    footer .email-address {
        display: none;
    }
    
}

@media only screen and (max-width: 450px) {
    /* HEADER */
    header {
        grid-template-columns: 1fr 10fr 74px 74px 10fr 1fr;
    }

    /* INDEX */
    #index .landing {
        padding: 120px 36px 72px 36px;
    }

    .peek  {
        margin-top: 10px;
    }

    .peek article {
        top: 90%;
    }

    .peek img {
        margin-bottom: 150px;
    }

    .peek h1 {
        font-size: 24px;
    }

    /* PROJECTS */
    .hearts.problem-highlight article {
        margin-left: 1em;
    }
    
    /* CONTACT ME */
    #profile-image {
        width: 50vw;
        height: 50vw;
    }
}

