@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* COMMON STYLE CHANGES */
* {
    margin: 0;
    font-family: 'Muli', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-weight: 800;
    font-size: 32px;
}

h3 {
    font-weight: 600;
}

body {
    position: relative;
    margin: 0 1em;
    min-height: 100vh;
}

.external-link {
    color: #999999;
    text-decoration: underline;
}

/* SPANS */
.number {
    font-size: 36px;
    color: #ffdd44;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.date {
    font-weight: 300;
    color: #999999;
}

/* GLOBAL */
#home-link {
    font-weight: 800;
    font-size: 24px;
    border-radius: 2em;
    /* padding: 0.25em 0.75em; */
    grid-area: HomeLink;
    transform-origin: center center;
    transform: translateX(0);
    transition: all 0.45s ease-in-out;
    /* background-color: #ffdd44; */
    /* padding: 0; */
    border: 2px solid white;
}

#home-link:hover {
    /* transform: scale(1.02); */
    transition-duration: 0.2s;
    transform: translateX(-0.2em);
    padding: 0.2em;
}

#home-link div {
    border-radius: 2em;
    padding: 0.1em 0.6em;
}

/* #home-link div::after {
    content: '';
    position: absolute;
    bottom: 6px;
    right: 0px;
    width: 10px;
    height: 10px;

    border-radius: 1em;
    background-color: transparent;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}

#home-link div:hover::after {
    background-color: #555555;
    transform: translateX(-0.2em);
} */

.white {
    background-color: white;
}

.yellow {
    background-color: #ffdd44;
}

/* PROJECT DIFFERENCE */
#project #home-link {
    border-color: #ffdd44;
}

.landing {
    padding: 2em;
    padding-top: 72px;
    border-radius: 0 0 7px 7px;
}

/* LOGO HOVER */


/* HEADER */
header {
    position: fixed;
    width: calc(100% - 2em);
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 72px;
    grid-template-areas: "HomeLink . AllProjects ContactMe";

    z-index: 5;
    background-color: #ffdd44;
    border-radius: 0 0 7px 7px;
}

header a {
    display: flex;
    margin: auto 24px;
    font-weight: 600;
}

header > a.nav-link {
    margin: 0;
    padding: 24px;
}

.nav-link.w:nth-of-type(n):hover::before {
    background-color: white;
}

.nav-link.y:nth-of-type(n):hover::before {
    background-color: #ffdd44;
}

.nav-link::before {
    content: '';
    width: 12px;
    height: 12px;
    min-width: 12px;
    margin: auto 0.5em auto 0;
    border-radius: 1em;
    background-color: transparent;
    transition: background-color 0.45s ease-in-out;
}

.nav-link:hover::before {
    transition-duration: 0.2s;
}

.nav-link:nth-of-type(2) {
    grid-area: AllProjects;
}

/* #add-before {
    position: absolute;
    color: transparent;
} */

#add-before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    min-width: 12px;
    margin: 6px 0.5em auto 0;
    border-radius: 1em;
    /* background-color: white; */
    opacity: 0;
    transition: all 0.2s ease-in-out;
    /* visibility: hidden; */
    /* border: 2px solid blue; */
}

header.white #drop-down {
    background-color: #ffdd44;
    box-shadow:0 0px 5px #e7ca4a;
}

#drop-down {
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 92px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: white;
    border-radius: 2px;
    box-shadow:0 0px 5px #e7e7e7;
}

#drop-down .nav-link::before {
    transition-duration: 0.2s
}

/* #drop-down .nav-link:hover::before {
    transition-duration: 0.2s
} */

#drop-down a {
    margin: 0;
    padding: 1.5em;
    font-size: 14px;
    font-weight: 500;
    padding-left: 1em;
}

#drop-down a.nav-link:nth-of-type(3) {
    padding-top: 0;
}

#drop-down a.nav-link:first-of-type {
    display: none;
}

#drop-down a.nav-link::before {
    height: 10px;
    width: 10px;
    min-width: 10px;
}

.nav-link:nth-of-type(2):hover ~ #drop-down, #drop-down:hover {
    visibility: visible;
    opacity: 1;
    /* position: absolute; */
}

.nav-link:nth-of-type(3) {
    grid-area: ContactMe;
}

/* INDEX BUTTON */
.see-more {
    padding: 0.75em 1.75em;
    margin-top: 20px;
    font-size: 16px;
    color: #aaaaaa;
    background-color: transparent;
    border: 1px solid #aaaaaa;
    border-radius: 2px;

    transition: all 0.2s ease-in-out;
}

.see-more:hover {
    cursor: pointer;
    color: white;
    background-color: #aaaaaa;
}

/* FOOTER */
footer {
    width: 100%;
    height: 72px;

    background-color: #555555;
    border-radius: 7px 7px 0 0;
    display: flex;
    justify-content: space-between;
}

footer * {
    color: #999999;
    margin: auto 0;
    /* margin-left: 2em; */
    /* padding: 1em; */
}

footer h3 {
    margin-left: 1.5em;
}

footer div {
    margin-right: 0.5em;
}

footer .social-icon:hover::after {
    background-color: #ffdd44;
}

/* INDEX */
#index, #all-projects {
    display: grid;
    row-gap: 2em;
}

#index .landing {
    height: 50vh;
}

.peek {
    position: relative;
    /* height: 50vh; */
    
    display: flex;
    justify-content: space-between;
}

.peek article {
    /* position: absolute; */
    width: 200px;
    height: auto;
    bottom: 150px;
    /* padding: 1em; */
    margin: auto;
    border-radius: 7px;

    background-color: white;

}

.peek svg {
    stroke: #e7e7e7;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;

    transform: scale(0.6);
    position: relative;
    top: 40px;
}

.peek h1 {
    margin-bottom: 0.5em;
}

.peek img {
    position: inherit;
    width: 66vw;
    height: 50%;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 0 0.2em #e7e7e7;
}

.peek:nth-of-type(2) img {
    /* margin-right: -2em; */
    right: -1em;
}

.peek:nth-of-type(3) img {
    left: -1em;
    /* padding-top: 100px; */
}

.title-breaker {
    text-align: center;
}

/* ALL-PROJECTS */
#all-projects .landing {
    height: auto;
}

.all-projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    width: 100%;
    /* max-width: 400px; */
    height: calc(30vw - 1em);
    max-height: 400px;

    display: flex;
    flex-direction: column;
    /* margin: 1em; */

    border-radius: 3.5px;
    filter: grayscale(1);

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.project-card:hover {
    filter: grayscale(0);
    box-shadow: 0 0 0.2em #e7e7e7;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3.5px
}

figcaption {
    height: 24px;
    max-width: 600px;
    bottom: 0;
    position: absolute;
    display: grid;
    /* row-gap: 2em; */
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'Title Date' 'Desc Desc';
    padding: 0.5em 1em;
    background-color: #555555;
    opacity: 1;
    border-radius: 0 0 3.5px 3.5px;

    transition: all 0.4s ease-in-out;
}

figcaption * {
    color: white;
}

figcaption h4 {
    font-weight: 800;
}

figcaption span {
    font-style: italic;
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0.5em;
}

figcaption p {
    visibility: hidden;
    opacity: 0;

    transition: all 0.2s ease-in-out;
    transition-delay: 0s;
    margin-bottom: 0.5em;

    grid-area: Desc;
}

/* ON HOVER OF A PROJECT CARD */
.project-card:hover figcaption p {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.project-card:hover figcaption{
    height: 124px;
    opacity: 0.9;
}

/* CONTACT ME */
#profile-details {
    margin: auto;
    margin-left: 0;
}

#profile-details a {
    position: relative;
}

#profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: calc(72px + 2em);
    padding-bottom: 4em;
}

#profile-image {
    width: 20vw;
    height: 20vw;
    background-color: white;
    border-radius: 20vw;

    margin-left: auto;
    margin-right: 2em;
}

.social-icon {
    position: relative;
    width: 36px;
    margin: 0.5em 0.5em 0 0;
}

.social-icon::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 8px;
    width: 10px;
    height: 10px;

    border-radius: 1em;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.social-icon:hover::after {
    background-color: white;
}

.details {
    /* min-height: calc(100vh - 144px - 2em); */
    padding: 2em;
}

.copy {
    position: absolute;
    bottom: 60px;
    left: 80px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    background-color: #ffdd44;
    color: #555555;
    border-radius: 2px;
    font-weight: 600;
}

.copy::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffdd44 transparent transparent transparent;
}

.email-address:hover + .copy {
    visibility: visible;
    opacity: 1;
    /* transition: all 0.2s ease-in-out; */
}

.email-address:hover {
    cursor: pointer;
    background-color: #ffdd44;
    color: #555555;

}

.email-address {

    transition: all 0.2s ease-in-out;
}

textarea {
    width: 0;
    opacity: 0;
    position: absolute;
}

/* PROJECT PAGE */
.banner-image {
    width: calc(100% + 6em);
    margin-left: -3em;
    height: 40vh;
    object-fit: cover;
    /* object-position: 0 -230px; */

    filter: brightness(0.8);
}

.case-study {
    display: grid;
    grid-template-columns: 280px 1fr;

    padding: 2em;
    /* padding-right: 4em; */
    padding-top: 0;
    margin: 0 1em;
}

.case-information {
    max-width: 70%;
}

.case-information h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.case-information h2 {
    margin-bottom: 0.25em;
    margin-top: 60px;
}

p ~ h3 {
    margin-top: 30px;
    margin-bottom: 0.25em;
}

.case-information i {
    /* margin-top: 1em; */
    color: #999999;
    /* font-size: 14px; */
    line-height: 1.8;
}

.case-information img {
    max-width: 100%;
}

.em-padding {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.case-information p {
    line-height: 1.8;
}

.hearts.problem-highlight {
    /* width: 45%; */
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    padding-top: 2em;

    /* flex-direction:; column */
    display: grid;
    grid-template-columns: 20% 80%;
}   

.hearts.problem-highlight p {
    /* display: flex;
    flex-direction: column; */
}

.hearts.problem-highlight img {
    /* height: ; */
    width: auto;
    /* height: 100%; */

    align-self: center;
    margin-left: auto;
}

.hearts.problem-highlight article {
    margin-left: 2em;
}

figure {
    padding: 1em 0 1.5em 0;
}

.subtle-shadow {
    box-shadow: 0 0 5px #e7e7e7;
}

figcaption.for-image {
    display: block;
    position: relative;
    text-align: center;
    color: #999999;
    background-color: transparent;
    font-style: italic;
    font-size: 14px;
    padding: 0;
    margin-top: 1em;
}

.image-row-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 1em;
}

.image-row-wrapper img{
    width: 95%;
    height: auto;
    object-fit: contain;
}

.image-row-wrapper > img {
    width: 48%;
}

/* SLIDE CARDS IN THE PROJECT PAGE */
.slide-cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    padding: 1em 1.5em;
}

.slide-cards::-webkit-scrollbar {
    height: 0px;
}

.slide-cards div {
    /* width: 200%; */
    min-width: 98%;
    padding:0 0.5em;

    scroll-snap-align: center;
    transform-origin: center center;
    /* transform: scale(1); */
    /* transition: transform 0.5s; */
    position: relative;
}

.slide-cards img {
    box-shadow: 0 0 10px #aaaaaa;
}
  #next {
      left: calc(100% - 2.5em);
      visibility: visible;
      opacity: 1;
  }

  #previous {
      left: -0.5em;
      visibility: hidden;
      opacity: 0;
  }

  #next, #previous {
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: black;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    position: relative;
    /* top: 10px; */
    bottom: 40px;
    border-radius: 50%;
    background-color: #ffdd44 ;

    vertical-align: middle;
    filter: drop-shadow(0px 0px 2px #ffdd44);
    transition: all 0.2s ease-in-out;
  }

  #next svg, #previous svg {
      transform: scale(0.45);
  }

  #next:hover, #previous:hover {
    filter: drop-shadow(0px 0px 6px #e7ca4a);
  }

  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }s

/* PROJECT PAGE - PROGRESS BAR */
.case-progress {
    margin-top: 0.5em;
}

#progress-bar {
    /* background-color: #ffdd44; */
    display: inline-block;
    height: 40vh;
    min-height: 200px;
    max-height: 250px;
    position: sticky;
    top: calc(72px + 2em);
    background-color: #ffdd44;
    width: 6px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    white-space: nowrap;
}

.progress-step-label {
    display: inline-block;
    position: absolute;
    margin-left: 26px;

    font-size: 16px;
    /* text-transform: uppercase; */
}

.progress-step-label:hover {
    cursor: pointer;
}

.progress-step {
    /* position: absolute; */
    position: absolute;
    display: inline-block;
    width: 100%;
    display: flex;
    /* display: block; */
    margin-left: -30px;
    margin-top: 2px;
    width: 8px;
    height: 8px;
    border-radius: 1em;
    /* background-color: #ffdd44; */
    border: 3px solid #ffdd44;
    transform: scale(1);

    transition: all 0.2s ease-in-out;
}

/* .progress-step::after {
    content: 'Brief';
    display: inline-block;
    position: absolute;
    margin-left: 25px;
    margin-top: -3px;
} */

@media only screen and (max-width: 1080px) {
    .case-information {
        max-width: 600px;
    }    
}

@media only screen and (max-width: 900px) {
    /* ALL PROJECTS */  
    .project-card {
        /* width: calc(46vw - 2em);
        height: calc(46vw - 2em); */
    }

    .peek article {
        position: absolute;
        width: 400px;
        height: fit-content;
        top: 110%;
        left: 7%;

        padding: 1em;
        background-color: white;
        transition: all 0.2s ease-in-out;
        /* box-shadow: 0 1px 0.2em #999999;  */
        box-shadow: 0 0 0.1em #999999; 
    }

    .peek article:hover {
        box-shadow: 0 1px 0.2em #999999; 
    }

    .peek svg {
        display: none;
        /* position: absolute;
        top: 70%;
        left: 90px */
    }

    .peek ~ .title-breaker {
        margin-top: 50px;
    }

    .peek:nth-of-type(2) img {
        margin-left: -2em;
    }

    .peek:nth-of-type(3) img {
        margin-right: -2em;
    }

    .peek img {
        z-index: -1;
        width: 100vw;
        border-radius: 0;
        margin-bottom: 75px;
    }

    /* PROJECT */

    /* .case-study {
        grid-template-columns: 190px 1fr;
        margin: 0;
    } */
    .case-study {
        grid-template-columns: 1fr;
        padding: 0 5%;
        margin: 0;
        /* padding-left:  */
    }

    .case-progress {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    /* HEADER */
    header {
        grid-template-columns: 3fr 4fr 74px 74px 4fr 3fr;
        grid-template-rows: 72px 36px;
        grid-template-areas: ". . HomeLink HomeLink . ."  ". AllProjects AllProjects ContactMe ContactMe .";
    
        z-index: 5;
        background-color: #ffdd44;
        border-radius: 0 0 7px 7px;
    }

    header > a.nav-link {
        margin-top: 0;
        margin: 0 24px auto 24px;
        padding: 0;
    }

    .nav-link:nth-of-type(2) {
        display: flex;
        justify-self: flex-end;
    }

    #drop-down {
        width: 100%;
        top: 92px;
        left: 0;
        right: auto;
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 7px 7px;
        box-shadow:0 4px 2px -2px #e7e7e7;
        border-top: 12px solid #ffdd44;
    }

    header.white #drop-down {
        border-top: 12px solid white;
        /* background-color: #ffdd44; */
        box-shadow: 0 4px 2px -2px #e7ca4a;
    }

    #drop-down a.nav-link:nth-of-type(3) {
        padding-top: 1.5em;
    }

    #add-before {
        margin-top: 4px;
    }

    #home-link {
        margin: auto;
    }

    #home-link:hover {
        transform: translateX(-0.1em);
    }

    .nav-link {

    }

    .landing {
        padding-top: 132px;
    }

    /* INDEX */
    .peek article {
        width: 80%;
        /* position: relative;
        margin: auto;
        width: 80%;
        bottom: 50px;        */
    }

    .peek img {
        margin-bottom: 100px;
    }

    .peek ~ .title-breaker {
        margin-top: 30px;
    }

    /* ALL PROJECTS */
    .project-card {
        /* width: 85vw;
        height: 85vw;
        margin: 1em 0; */
        /* height: 100%; */
    }





    /* PROJECTS */
    /* #progress-bar {
        top: calc(108px + 2em);
        height: 6px;
        max-height: 6px;
        min-height: 6px;
        width: 40vh;
        min-width: 200px;
        max-width: 250px;
    } */

    .case-study {
        padding: 0 1em;
    }

    /* CONTACT ME */
    #profile {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        margin: auto;
    }

    #profile-details {
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #profile-image {
        width: 40vw;
        height: 40vw;
        border-radius: 40vw;
        margin: 2em auto;
    }
}

@media only screen and (max-width: 450px) {
    /* HEADER */
    header {
        grid-template-columns: 1fr 10fr 74px 74px 10fr 1fr;
    }

    /* FOOTER */
    a.social-icon:last-child, a.social-icon:last-child img {
        margin-right: 0;
    }

    footer div {
        margin: auto;
    }

    /* CONTACT ME */
    #profile-image {
        width: 50vw;
        height: 50vw;
    }

    .email-address {
        display: none;
    }

    .details {
        /* padding: 1em 0.5em; */
    }

    /* INDEX */
    .peek article {
        top: 90%;
    }

    .peek img {
        margin-bottom: 175px;
    }
}

